<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="headerfiles">
    <title>Greg Weather station</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css"
    />
    <link rel="stylesheet" type="text/css" href="css/mini-default.css" />
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <link rel="stylesheet" type="text/css" href="css/dtsel.css" />
  </head>
  F
  <div th:fragment="headerbar">
    <header class="sticky">
      <a href="/" class="logo">Weather</a>
      <a
        href="/"
        class="button"
        th:classappend="${#httpServletRequest.requestURI == '/' ? 'activated' : '' }"
        th:text="#{header.home}"
        />
      <a
        href="/weather"
        class="button"
        th:classappend="${#httpServletRequest.requestURI == '/weather' ? 'activated' : '' }"
        th:text="#{header.history}"
        />
      <a
        href="/graph"
        class="button"
        th:classappend="${#httpServletRequest.requestURI == '/graph' ? 'activated' : '' }"
        th:text="#{header.graph}"
        />
    </header>
  </div>

  <div th:fragment="includeJs"></div>

  <footer th:fragment="footerfiles"></footer>
</html>
