<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:insert="fragments/common.html :: headerfiles"></head>
  <body>
    <div th:insert="fragments/common.html :: headerbar"></div>
    <div class="container">
      <div>
        <form name="updateChartFrom" action="#" onsubmit="return false;">
          <input type="datetime" id="date-from" name="date-from" />
          <input type="datetime" id="date-to" name="date-to" />
          <select name="type" id="type">
            <option value="temperature">temperature</option>
            <option value="humidity">humidity</option>
            <option value="pm25">pm25</option>
            <option value="pm10">pm10</option>
            <option value="aqi">AQI</option>
          </select>
          <input type="submit" value="Submit" onclick="updateChart()" />
        </form>
      </div>
      <div id="chart"></div>
    </div>
    <!-- Site content goes here !-->
    <div th:replace="fragments/common.html :: includeJs"></div>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
      var options = {
        series: [],
        chart: {
          id: "mychart",
          height: 700,
          type: "line",
          zoom: {
            enabled: false,
          },
        },
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: "straight",
        },
        grid: {
          row: {
            colors: ["#f3f3f3", "transparent"], // takes an array which will be repeated on columns
            opacity: 0.5,
          },
        },
        xaxis: {
          categories: [],
        },
      };

      var chart = new ApexCharts(document.querySelector("#chart"), options);
      chart.render();

      const datePicketOption = {
        enableTime: true,
        time_24hr: true,
        disable: [
          function (date) {
            // return true to disable
            return date > new Date();
          },
        ],
      };

      const dateFromPicker = flatpickr(
        'input[name="date-from"]',
        datePicketOption
      );

      const dateToPicker = flatpickr('input[name="date-to"]', datePicketOption);

      var host = window.location.origin;
      async function updateChart() {
        // Our labels and three data series
        var startDate = document.getElementById("date-from").value;
        var endDate = document.getElementById("date-to").value;
        var selectedType = document.getElementById("type").value;
        await fetch(
          host + "/api/graph?startDate=" + startDate + "&endDate=" + endDate
        )
          .then((response) => {
            return response.json();
          })
          .then((weaters) => {
            chart.updateSeries([
              {
                name: selectedType,
                data: weaters.map((w) => {
                  if (selectedType === "aqi") {
                    return w["aqi"]["aqi"];
                  } else {
                    return w[selectedType];
                  }
                }),
              },
            ]);
            ApexCharts.exec(
              "mychart",
              "updateOptions",
              {
                xaxis: {
                  categories: weaters.map((w) => {
                    return new Date(w["createdDate"]);
                  }),
                  labels: {
                    formatter: function (value) {
                      return value?.format("dd-mmm HH:MM") ?? "";
                    },
                  },
                },
              },
              false,
              true
            );
          });
      }
    </script>
  </body>
</html>
